{% extends "base.html" %}

{% block content %}
<div class="text-center">
    <br><br><br>
    <h1>Django - CRM ... Management at it's finest!</h1>
    <br>
    <h5><b>Keep track of your records effectively!</b></h5>
    <br>
    <hr style="border: 1px solid #090909; margin: 30px 180px;"><hr>

    {% if user.is_authenticated %}   
    <a href="{% url 'dashboard' %}" class="btn btn-outline-primary">dashboard</a>         
    {% else %}
     <a href="{% url 'login' %}" class="btn btn-outline-primary">login</a>         
     <a href="{% url 'register' %}" class="btn btn-outline-primary">register</a>         

    {% endif %}

</div>
{% endblock %}